# dev-deps, still placed in the same requirements file
ruff
mypy
pytest
pre-commit

# types/stubs are required by mypy
pandas-stubs
types-pyyaml
types-tqdm
typing-extensions
types-requests

# CLI, administrator tools
typer        # CLI generator
# pydantic~=2.5      # serialization/deserialization of configs

# notebooks, plotting
ipykernel    # needed by vs code to run notebooks in devcontainer
# seaborn
matplotlib

# misc
tqdm

# data import/export, application-specific
gemmi       # pdb/mmcif parsing
biopython>=1.83    # parsing, data access
antipickle  # save/load heterogeneous python structures
tmtools>=0.0.3     # Python bindings for the TM-align algorithm
modelcif>=1.0      # mmcif writing, confirmed to work currently latest 1.0

# computing, dl
pandas[parquet,gcp,aws] 
# pandera removed - using simple pandas validation instead
numba>=0.59
# polars              
einops
jaxtyping>=0.2.25   # versions <0.2.25 do not easily support runtime typechecking
beartype>=0.18      # compatible typechecker to use with jaxtyping
